@font-face {
    font-family: 'Open Sans';
    src: url('../public/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('../public/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'ralewaythin';
    src: url('../public/fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
        url('../public/fonts/raleway-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
:root{
    --primary-dark-blue-intro: hsl(217, 28%, 15%);
    --primary-dark-blue-bg: hsl(218, 28%, 13%);
    --primary-dark-blue-footer: hsl(216, 53%, 9%);
    --primary-dark-blue-testimonials: hsl(219, 30%, 18%);

    --accent-cyan-call: hsl(176, 68%, 64%);
    --accent-blue-inside-call: hsl(198, 60%, 50%);
    --accent-light-red-error: hsl(0, 100%, 63%);

    --white: hsl(0, 0%, 100%);
}
*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 14px;
    margin: 0;
    background-color: var(--primary-dark-blue-bg);
    color: var(--white);
    font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h5{
    margin: 0;
    font-family: "Raleway", sans-serif;
}
h1{
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
}
p{
    margin: 0;
}
ul li{
    list-style: none;
}
.btn{
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    padding: 20px 120px;
    margin: 50px 0;
    font-size: 20px;
    font-style: 700;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border: none;;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.btn-primary {
    color: var(--white);
    background-image: linear-gradient(to right, hsl(176, 68%, 64%) , hsl(198, 60%, 50%));
}
.btn-primary:hover {
    background-color: hsl(176, 68%, 64%);
}
.header--section{
    display: flex;
    justify-content: space-between;
}
.header--section{
    padding: 100px 40px;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* Header section */
nav ul{
    display: flex;
}
/* End Header section */
/* Hero section */
.hero--section--content{
    width: 51%;
    text-align: center;
}
.hero--section--content img{
    width: 90%;
}
.hero--section-title{
    margin: 30px 0;
}
.hero--section-paragraph{
    width: 65%;
    line-height: 30px;
    margin: 0 auto;
    font-size: 20px;
}
/* End Hero section */
/* Features section */
.features--section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 150px;
    max-width: 70%;
    font-size: 18px;
    margin: 100px 0;
    
}
.feature-item {
    width: 90%;
}
.feature-item p, .feature-item h2{
    padding: 10px 0;
}
/* End Features section */
/* How works section */
.howworks--section{
    margin: 100px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px 40px;
}
.howworks--section--text{
    max-width: 70%;
}
.howworks--section--text p{
    font-size: 18px;
    padding: 10px 0;
    line-height: 30px;
}
.howworks--section--text a{
    color: var(--accent-blue-inside-call);
    font-size: 18px;
}
.howworks--section--text__link{
    margin-top: 15px;
}
.howworks--section--img img{
    text-align: center;
}
/* End How works section */
/* Testimonials section */
.testimonials--container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 50px 0;
}
.testimonials--section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    max-width: 1600px;
    width: 100%;
    padding: 20px;
}
.testimonials--section__card {
    background: var(--primary-dark-blue-testimonials);
    border-radius: 8px;
    padding: 40px 30px;
    box-shadow: 0 4px 6px var(--primary-dark-blue-intro);
}
.testimonials--section__card p {
    font-size: 1.3em;
    margin-bottom: 40px;
}
.testimonials--section__card--info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.testimonials--section__card--info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
.testimonials--section__card--info .text-container {
    display: flex;
    flex-direction: column;

}
.testimonials--section__card--info h5 {
    margin: 0;
    font-size: 1.2em;
}
.testimonials--section__card--info p {
    margin: 5px 0;
    font-size: 1em;
    color: #727272;
}
#card--icon{
    position: relative;
}
#card--icon::before{
    content: " ";
    background: url(../public/img/bg-quotes.png) no-repeat;
    width: 55px;
    height: 45px;
    z-index: -1;
    position: absolute;
    top: -33px;
    left: -8px;
}
/* End Testimonials section */